<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<%= button_to "edit kroge? ", edit_article_path(@article), method: :get %>
<li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, method: :get %></li>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>




